<div class="characters col-xs-8 col-xs-offset-2">
  <table class="table table-bordered table-hover">
   <thead class="thead-inverse">
     <tr>
       <th class="active characters__cell">Character name</th>
       <th class="success characters__cell">Vocation</th>
       <th class="info characters__cell">Level</th>
       <th class="warning characters__cell">Home City</th>
       <th class="danger characters__cell">Actions</th>
     </tr>
   </thead>
   <tbody>
    {{#each characters}}
       <tr>
         <td class="active characters__cell">{{ name }}</td>
         <td class="success characters__cell">{{ vocation }}</td>
         <td class="info characters__cell">{{ level }}</td>
         <td class="warning characters__cell">{{ town_id }}</td>
         <td class="danger characters__cell">
          <button type="button" class="btn btn-danger">Delete</button>
        </td>
       </tr>
    {{/each}}
     <tr>
       <td class="active characters__cell"></td>
       <td class="success characters__cell"></td>
       <td class="info characters__cell"></td>
       <td class="warning characters__cell"> </td>
       <td class="danger characters__cell"> <a href="/characters/new" class="btn btn-success">Create character</a> </td>
     </tr>
    </tbody>
  </table>
</div>
