<div class="col-xs-6 col-xs-offset-3">
  <div class="home">
    <div class="home__title">Join the Legion of Heroes!</div>
    <div class="home__signup-container">
      <a href="/sign_up" class="btn btn-warning signup-btn">Sign up!</a>
    </div>
    <div class="home__login-container">
      <p>If you already have an account:</p>
      <a href="/sign_in" class="home__login-btn">
        <div class="btn btn-success ">Sign in!</div>
      </a>
    </div>
  </div>
</div>
