<div class="main container-fluid">
  <div class="row">
    <div class="topbar col-xs-12"> WELCOME TO NOTFORGOTTEN SERVER </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="home">
        <div class="home__title">Dołącz do grona bohaterów!</div>
        <div class="home__signup-container">
          <a href="/sign_up" class="btn btn-warning start-button">Zajerestruj się!</a>
        </div>
        <div class="home__login-container">
          <p>Jeśli masz już konto:</p>
          <a href="/sign_in" class="home__login-btn">
            <div class="btn btn-success ">Zaloguj się!</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
