.main {
  background-image: url(http://tibiopedia.pl/images/static/artcorner/MastroDaro1464972737.jpg);
  background-size: cover;
  padding-bottom: 100%;
}

.topbar {
  font-family: Georgia;
  border-bottom: 3px solid red;
  color: white;
  text-shadow: -2px 0 red, 0 3px red, 1px 0 red, 0 3px red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-image: url(http://vignette1.wikia.nocookie.net/tibia/images/a/ae/Background_Artwork_9.4.jpg/revision/latest/scale-to-width-down/300?cb=20111214200944&path-prefix=en);
  height: 130px;
  margin-bottom: 20px;
}

.home {
  background-image: url(http://bgfons.com/upload/paper_texture301.jpg);
  height: 400px;
  border: 1px solid red;

  &__title {
    display: flex;
    justify-content: center;
    color: orange;
    text-shadow: -2px 0 brown, 0 2px brown, 1px 0 brown, 0 -1px brown;
    height: 50px;
    font-size: 30px;
    margin-top: 70px;
  }

  &__signup-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .signup-btn {
      display: flex;
      align-items: center;
      justify-content: center;
       width: 207px;
      height: 90px;
      font-size: 18px;
      font-family: courier;
      color: white;
      text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    }
  }

  &__login-container {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    height: 50px;
    font-size: 20px;
    margin-top: 80px;
  }

  &__login-btn {
    margin-left: 15px;
  }
}
