.form-group {
  font-size: 30px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.pojemnik-na-przycisk2 {
  display: flex;
  justify-content: center;
}

.pojemnik-na-przycisk3 {
 position: absolute;
 top: 70%;
}


#character-container {
  box-shadow: 13px 60px 112px 0px rgba(240,40,40,1);
  height: 450px;
  margin-top: 100px;
  background-color: white ;
}

#left-ui {
  border-right: 3px solid black;
  height: 640px;
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/70/a3/11/70a3119e9da10b97e22d27dd91fb079c.jpg);
  background-size: cover;
}

#right-ui {

  border-left : 3px solid black;
  height: 640px;
  background-image: url(http://www.myfconline.com/gallery/uploads/1185242151345_72877.jpg);
  background-size: 100% 640px;
}

#container-character-container {
  border-left: 3px solid black;
  border-right: 3px solid black;
  background-image: url(http://www.tibiawiki.com.br/images/8/8f/Ilustracao_trailer_02.jpg);
  background-size: 930px 640px;
  height: 640px;
}

#right-ui-container {
  background-color: orange;
}

#left-ui-container {
  background-color: orange;
}


.main-container-fluid {
  overflow: hidden;
}

.pojemnik-rubryk {
  height: 50px;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.rubryka {
  text-align: center;

}

.postac {
  height: 50px;
  display: block;
  border: 1px solid red;

}

.pojemnik-postaci {
  height: 400px;
}

.postac-stat {
  width: 178px;
  height: 50px;
  display: inline-block;
  border: 1px solid red;
}

.createformularz {
  background-image: url(https://www.androidcentral.com/sites/androidcentral.com/files/styles/w550h500/public/wallpapers/color-gradient-1uw.jpg?itok=UR__GSnf);
  display: flex;
  justify-content: center;
  width: 400px ;
  height: 200px;
  border: 1px solid red;
  margin-top: 180px;
}


.body-create {
  background-image: url(http://vignette3.wikia.nocookie.net/tibia/images/d/d6/Background_Artwork_8.5.jpg/revision/latest?cb=20090701181615&path-prefix=en);
  background-size: cover;
}

.pojemnik-na-przycisk-5 {
  position: absolute;
  top: 60%;
}
