<div class="body-create">
  <div id="action" class="row">
    <div id="pojemnik-na-formularz" class="col-xs-5 col-xs-offset-4">
      <div class="createformularz">
        <form>
          <div class="form-group">
          <label for="exampleInputEmail1">Character name</label>
          <input type="text" class="form-control" id="charactername" placeholder="Character name">
          </div>
        </form>
        <div class="pojemnik-na-przycisk-5">
          <button type="button" class="btn btn-success button-register btn-lg">Utwórz postać</button>
        </div>
      </div>
    </div>
  </div>
</div>
